@page "/currency-convert"
@inject CurrencyConverterViewModel vm

<div class="col-12 mt-3 pb-3 container">
    <h3 class="mt-3">Currency Converter</h3>
    <hr />
    <EditForm class="form-row" Model=@vm>
        <div class="form-group input-group col-lg-5 col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text">@vm.ConvertFromCurrencySymbol</span>
            </div>
            <InputNumber id="convert-from-value" class="form-control"
                            min="0.00" step="0.01" placeholder="Enter amount"
                            @bind-Value=vm.ConvertFromValue />
            <InputSelect id="convert-from-currency-id" class="col-12"
                         style="margin-top: 1px"
                         @bind-Value=vm.ConvertFromCurrencyId>
                @foreach(var currency in vm.Currencies)
                {
                 <option value="@currency.Id">
                    @currency.CurrencyName [@currency.Id]
                 </option>
                }
            </InputSelect>
        </div>
        <div class="form-group col-lg-2 col-md-12 text-center">
            <button id="btn-swap" style="width: 48px"
                    class="btn btn-outline-primary col-lg-12 col-sm-6"
                    @onclick="vm.SwapCurrencies">
                <span class="oi oi-loop-circular" aria-hidden="true" />
            </button>
            @if (vm.ConversionRate is not null)
            {
             <label class="col-lg-12 col-sm-6 mt-2">
                <strong>Rate:</strong> @vm.ConversionRate
             </label>
            }
        </div>
        <div class="form-group input-group col-lg-5 col-md-12">
            <div class="input-group-prepend">
                <span class="input-group-text">@vm.ConvertToCurrencySymbol</span>
            </div>
            <label id="convert-to-value" class="form-control mb-0">
                @vm.ConvertToValue
            </label>
            <InputSelect id="convert-to-currency-id" class="col-12"
                         style="margin-top: 1px"
                         @bind-Value=vm.ConvertToCurrencyId>
                @foreach(var currency in vm.Currencies)
                {
                 <option value="@currency.Id">
                    @currency.CurrencyName [@currency.Id]
                 </option>
                }
            </InputSelect>
        </div>
        @if (vm.HasError)
        {
            <div class="alert alert-danger col-12 ml-1">
                <strong>Error:</strong> @vm.ErrorMessage
            </div>
        }
    </EditForm>

    <div class="text-center">
        <input type="button" id="btn-convert" class="btn btn-outline-primary"
                value="Convert" @onclick="@vm.Convert" />
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await vm.Initialize().ConfigureAwait(false);
    }
}
